body{
    background-color: rgb(28, 28, 28);
    font-family: Arial, Helvetica, monospace;
    font-weight: bold;
}
div{
    color: whitesmoke;
    font-size: 1.5vw;
}
#Hero{
    width: 100%;
    height: 40vw;
    background-color: aqua;
    background-image: url('images/HeroArt.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -7vw;
    margin-bottom: 1vw;
}
.FontSizeHero{
    font-size: 7vw;
    text-align: center;
}
#HeroTitle{
    padding-top: 12vw;
    text-shadow: 0.3vw 0.3vw black;
}
#HeroSubTitle{
    text-shadow: 0.2vw 0.1vw black;
    text-align: center;
}


#QuickContactContainer{
    width: 100%;
    height: 4vw;
    text-align: center;
    margin-bottom: 2vw;
}
.QuickContacts{
    width: 2.5vw;
    height: 2.5vw;
    float: left;
    padding-right: 1vw;
}
.QuickContacts img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    
}
#FirstQuickLink{
    margin-left: 39vw;
}


.MenuBar button
{
    float: left;
    width: 33%;
    text-align: center;

    font-family: Arial, Helvetica, monospace;
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.5vw;
    background-color: rgb(28, 28, 28);
}

#EmptyBodyContainer
{
    height: 1500px;
}
.ProjectButton
{
    width: 19%;
    height: 13vw;
    background-color: aliceblue;
    float: left;
    margin-right: 1%;
    border-radius: 15%;
}