html
{
    font-size: 100%;
}
body
{
    background-color: #FAE3B3;
    background-image: linear-gradient(to bottom right, #FAE3B3, #F8D68C);
    color: #2E242C;
    font-family:monospace;
    /* height: 50rem; */
}
p
{
    margin: 0%;
    padding: 0%;
}
@font-face {
  font-family: Rubica;
  src: url(fonts/Bungee-Regular.ttf);
}
a:link
{
    color: #FAE3B3;
}
a:visited
{
    color: #FAE3B3;
}

.Padding
{
    clear: left;
    width: 100%;
    height: 2rem;
}
.PaddingExtra
{
    clear: left;
    width: 100%;
    height: 5rem;  
}
.BorderA
{
    border-style: double;
    border-width: 0.5rem;
    border-color: rgb(233, 117, 150);
    border-radius: 1rem;
}
.BorderB
{
    border-width: 1rem;
    border-radius: 1rem;
}
.BorderC
{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-width: 1rem;
}
.BrownBS
{
    box-shadow: 1rem 1rem #392D2E;
}
.BubbleGradient
{
    background-color: #F46666;
    background-image: linear-gradient(to bottom right, #F46666, #de4e4e);
}

.HeaderDiv
{
    background-color: #F46666;
    width: 75%;
    height: 15rem;
    text-align: center;
    margin-left: 10.5%;
    margin-bottom: 3%;
    transition: 0.5s;
}
.HeaderDiv:hover
{
    width: 76%;
    height: 16rem;
    transition: 0.5s;
    /* margin-left: 9.5%; */
}
.HeaderDiv2
{
    background-color: #F46666;
    width: 50%;
    height: 10rem;
    text-align: center;
    margin-left: 24%;
    margin-bottom: 3%;
    transition: 0.5s;
}
.HeaderDiv2:hover
{
    width: 51%;
    height: 11rem;
    transition: 0.5s;
    /* margin-left: 9.5%; */
}

.TwoBoxWhole
{
    float: left;
    width: 75%;
    height: 26rem;
    margin-left: 10.5%;
    font-size: 1.5rem;
    /* background-color: #2E242C; */
}
.TwoBox
{
    float: inherit;
    width: 40%;
    height: inherit;
    margin-left: 2.5%;
}
.TwoBoxRight
{
    margin-left: 15%;
}
.TextSpacing
{
    margin: 5%;
}

.TitleText
{
    font-size: 9rem;
    font-family: Rubica;
}
.TitleText2
{
    font-size: 4.5rem;
    font-family: Rubica;
    padding-top: 3%;
}
.TitleText3
{
    font-size: 2rem;
    font-family: Rubica;
}

.ClickableLinks
{
    font-size: 2rem;
    margin-bottom: 0.5%;
    transition: 0.3s;

}
.ClickableLinks:hover
{
    font-size: 2.2rem;
    transition: 0.3s;
}

#Projects
{
    /* background-color: aqua; */
    float: left;
    width: 25%;
    height: 20rem;
    margin-left: 10.5%;
}
#Projects div
{
    background-color: #FF6978;
    width: 65%;
    height: 15rem;
    margin-left: 25%;
    transition: width 0.5s, height 0.5s, margin-left 0.5s;
}
#Projects div:hover
{
    width:67%;
    height: 17rem;
    /* margin-left: 5.75rem; */
    transition: width 0.5s, height 0.5s, margin-left 0.5s;
}
#Projects div p
{
    margin-left: 7%;
}
#ProjectLine
{
    color: #392D2E;
    margin-left: 7%;
    width: 5rem;
    border-width: 0.2rem;
}

#Bio
{
    background-color: #FF6978;
    width: 48%;
    height: 20rem;
    float: left;
    margin-left: 1.5%;
    transition: 0.5s;
}
#Bio:hover
{
    width: 50%;
    height: 21rem;
    /* margin-left: 1rem; */
    transition: 0.5s;
}
#Bio div
{
    /* height: 20rem; */
    font-size: 1.5rem;
}
#Bio div p
{
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}

#Contacts
{
    background-color:#F46666;
    width: 15.5%;
    height: 3rem;
    margin-left: 16.5%;
}
#Contacts div
{
    /* width: 15rem; */
    height: 2.5rem;
    text-align: center;
}
#Contacts img
{
    width: 18%;
    height: 2.3rem;
    margin-right: 3%;
    margin-top: 4%;
    filter: invert(0%);
    transition: filter 0.3s,width 0.5s,height 0.5s,margin-top 0.5s;
}
#Contacts img:hover
{
    width: 20%;
    height: 2.5rem;
    margin-top: 3.5%;
    filter: invert(80%) sepia(100%);
    transition: filter 0.3s,width 0.5s,height 0.5s,margin-top 0.5s;
}